body {
   
    font-family: Open Sans;
}
 
.hero-image {
    background-image: url("https://img.freepik.com/free-photo/back-school-background-with-school-supplies-copy-space_23-2148958977.jpg?w=2000"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    width: 100%;
    height: 800px; /*n You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    
  /* background-attachment: fixed; */
  } 

h1 {
    text-align: center;
}

#quiz {
    text-indent: 10px;
    display:none;
}

.button {
   display: block;
   margin: auto;
   
    border:1px solid;
    border-radius:5px;
    width: 60%;
    padding-left:5px;
    padding-right: 5px;
    /* position: relative; */
    background-color: #ffffff;
    color: black;
    text-align: center;
}

.button.active {
    background-color: #F8F8FF;
    color: #525252;
}


.button a {
    text-decoration: none;
    color: black;
}

#container {
    
    width:50%;
   
    margin:auto;
    padding: 0 25px 40px 10px;
    background-color: #00ABDE;
    border:4px solid #d4f6f0;
    border-radius:5px;
    color: #FFFFFF;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

#prev {
    display:none;  /* başlangıçta prev gizlemek için */
}

#start-exam{
    margin-left: 50%;
}

.wrapper {
    display: flex;
    width: 150px;
    height: 50px;
    /* margin: auto; */
    margin-top: 40px;
    background: var(--box);
    transform: skew(0deg, 0deg);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    animation: mymove 5s infinite;
}
#timer {
    color: var(--font);
    text-align: right;
    font-size: 3rem;
    padding: 30px;
    font-family: 'Zen Dots', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
:root {
    --bck: #FFE300;
    --font: #F7F7F7;
    --box: #FFE300;

}
#matematik-text{
    padding-top: 30px;
}

#go-home, #start-exam {
    width: 20%;
    display: block;
    margin: auto;
}
